# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]

/.projectile
/planning
/results

*~
.#*

# no remains from tex processing
*.bib
*.pdf
*.aux
*.bbl
*.blg
*.ilg
*.lof
*.log
*.lot
*.nlo
*.nls
*.out
*.toc
*.el
messages.txt

# no sweave style class
*.sty

# no R history
.Rhistory
.RData

# nothing from cache directory when using knitr
/src/cache/
